@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 0 0% 6%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 0 0% 99%;
    --primary-foreground: 0 0% 6%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 0 0% 44%;

    --tertiary: 240 4.8% 95.9%;
    --tertiary-foreground: 0 0% 45%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 93%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 93%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 70%;

    --tertiary: 240 3.7% 15.9%;
    --tertiary-foreground: 0 0% 50%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  .loading {
    display: inline-flex;
    align-items: center;
  }

  .loading .spacer {
    margin-right: 2px;
  }

  .loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: @apply text-foreground;
    /* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
    background-color: @apply bg-background;
    transition: background-color 5000s ease-in-out 0s;
  }

  .loading span:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  @keyframes blink {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  .divider-line {
    width: 100%;
    height: 1px;
    max-width: 600px;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(hsla(0, 0%, 100%, 0)),
      color-stop(20%, #ebebeb),
      color-stop(80%, #ebebeb),
      to(hsla(0, 0%, 100%, 0))
    );
    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0),
      #ebebeb 20%,
      #ebebeb 80%,
      hsla(0, 0%, 100%, 0)
    );
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
